@import url(root.css);

*{
    margin: 0;
    padding: 0;
    cursor: url(../assets/cursors/hollow-knight.png), auto;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: var(--fonte-hollow-knight);
    background-image: linear-gradient(rgb(39, 47, 84), black);
    color: white;
}
 
.tela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

#tela-login-titulo{
    margin: 0 0 1.5rem 0;
    text-align: center;
}

.tela-login-inputs{
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

input, textarea{
    padding: 0.4rem 0.3rem;
    margin: 0 0 0.5rem 0;
    outline: none;
    width: 100%;
}

.tela-login-botoes{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

button{
    font-family: var(--fonte-hollow-knight);
    padding: 0.5rem;
    background-color: var(--cor-destaque);
    color: white;
    outline: none;
    border: 1px solid white;
}

button:hover{
    opacity: 80%;
}

.cabecalho{
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 0 0 0 1rem;
}

nav{
    margin: 0 2rem 0 0;
}

#cadastro, #consulta{
    margin: 0 0.5rem;
    background-color: transparent;
    color: white;
    border: none;
    font-family: var(--fonte-hollow-knight);
}

#cadastro option, #consulta option{
    margin: 1rem 0;
    background-color: black;
}

#deslogar{
    text-decoration: none;
    margin: 0 0 0 1rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 0.85rem;
}

#deslogar:hover{
    border-bottom: 1px solid white;
}

.menu-conteudo{
    margin: 8rem 5rem 0 5rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.formulario{
    margin: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-cadastro{
    margin: 0 auto;
}

#formulario-titulo{
    margin: 0 0 2rem 0;
    text-align: center;
}

.formulario-botoes{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
#botaoLimpar{
    background-color: transparent;
    margin: 0 0 0 1rem;
}

.resultado{
   display: flex;
   flex-direction: column;
   text-align: center;
}

.consulta{
    padding: 0.5rem 2rem;
}